---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingComponent from "@components/pricing.astro";
import PricingFaq from "../components/pricing-faq.astro";
import ComparePricing from "@components/compare-pricing.astro";
import Cta from "../components/cta.astro";

const plans = [
  {
    name: "Explore",
    price: null,
    desc: "Perfect for testing and experimentation",
    color: "teal",
    popular: false,
    features: [
      "Single-instance installation",
      "Unlimited Users and Deployments",
      "Access to essential features only",
    ],
    button: {
      text: "Get Started",
      link: "/docs/getting_started",
    },
  },
  {
    name: "Scale",
    price: "15,000",
    desc: "Tailored for production deployments",
    popular: true,
    color: "teal",
    features: [
      "Perpetual License for Gitmoxi v1.0",
      "Unlimited Users and Deployments",
      "Full feature access",
      "Authentication and Authorization",
      "First year of premium support included",
      "Custom integrations and training",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Gitmoxi is a self-hosted software. Customers purchase software and support. There are no restrictions to users or number of deployments!
      </Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-2 gap-40 mx-auto max-w-[1100px] mt-12 mb-20 px-10">
      {plans.map((item) => <PricingComponent plan={item} />)}
    </div>
    <PricingFaq />
  </Container>
  <Cta />
</Layout>
