---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingComponent, { type Plan } from "@components/pricing.astro";
import PricingFaq from "../components/pricing-faq.astro";
import ComparePricing from "@components/compare-pricing.astro";
import Cta from "../components/cta.astro";

const plans: Plan[] = [
  {
    name: "Explorer",
    price: "0",
    desc: "Perfect for individuals and small teams",
    color: "teal",
    popular: false,
    features: [
      "Single-instance installation",
      "Unlimited Users and Deployments",
      "Access to essential features only",
      "Best-effort support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Start-ups & Small Businesses",
    price: "10,000",
    desc: "Ideal for scaling startups",
    popular: false,
    color: "teal",
    features: [
      "Single-instance installation",
      "Unlimited Users and Deployments",
      "Full feature access",
      "Authentication and Authorization",
      "One year of premium support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: null,
    desc: "Tailored for large organizations",
    popular: false,
    color: "teal",
    features: [
      "Support for multiple installations",
      "Unlimited Users and Deployments",
      "Full feature access",
      "Authentication and Authorization",
      "Extended premium support",
      "Custom integrations and training",
    ],
    button: {
      text: "Contact Us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        One-Time Product Pricing based on Number of Installations.
      </Fragment>
    </Sectionhead>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12 mb-16">
      {plans.map((item) => <PricingComponent plan={item} />)}
    </div>
    <PricingFaq />
  </Container>
  <Cta />
</Layout>
