---
import Link from "./ui/link.astro";
---

<div
  class="bg-dark-blue p-8 md:px-20 md:py-20 mt-20 flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Elevate Your Deployment Experience Today
  </h2>
  <p class="text-white/70 mt-4 text-lg md:text-xl">
    Experience the power of Gitmoxi—your go-to solution for simple, flexible, and transparent deployment management
  </p>
  <div class="flex mt-5">
    <Link href="#">Sign up for a 14-day Trial</Link>
  </div>
</div>
