---
import { Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Container from "@components/container.astro";
---

<div class="overflow-x-clip"
     style="font-family: 'helvetica', sans-serif;">
  <Container>
    <main class="grid lg:grid-cols-5 place-items-center relative">
      <div class="max-w-sm md:max-w-max lg:col-span-2">
        <h1
          class="text-3xl lg:text-4xl xl:text-5xl font-bold text-font-primary lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
          Supercharge your ECS and Lambda Deployments with Gitmoxi
        </h1>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          A Simple, Flexible, and Transparent <span class="font-bold">Continuous Deployment (CD) </span>Product for AWS ECS and AWS Lambda
        </p>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <Picture
          src={heroImage}
          alt="Deployments made easy"
          formats={["avif", "webp"]}
          sizes="(max-width: 1024px) 100vw, 50vw"
          widths={[240, 540, 720, heroImage.width]}
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </main>
  </Container>
</div>
