---
import { Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Container from "@components/container.astro";
import Link from "./ui/link.astro";
---

<div class="overflow-x-clip bg-custom-blue"
     style="font-family: 'helvetica', sans-serif;">
  <Container>
    <main class="grid lg:grid-cols-5 place-items-center relative">
      <div class="max-w-sm md:max-w-max lg:col-span-5 mt-40 mb-28">
        <p class="text-lg mt-4 text-custom-gray lg:text-2xl text-center">
            <span class="font-medium leading-[50px]">
            Industry's First
            </span>
        </p>
        <h1 class="text-white font-medium-plus text-6xl md:text-7xl text-center">
          <span class="leading-[80px]">GitOps based <br/>Unified Deployment Controller</span>
        </h1>
        <p class="text-lg mt-4 text-custom-gray lg:text-2xl text-center">
          <span class="font-medium leading-[50px]">
            For EKS, ECS, Fargate, and Lambda
          </span>
        </p>
        <div class="hidden sm:flex md:flex lg:flex items-center justify-center gap-4 pt-4">
          <Link
              href="/book-a-demo"
              size="lg"
              class="inline-flex items-center group gap-px bg-custom-green hover:bg-teal-400 transition-colors py-2"
          >
            <span class="text-white text-xl">Book a Demo</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-6 h-6 mt-px group-hover:translate-x-1 transition-transform"
            >
              <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"
              ></path>
            </svg>
          </Link>
        </div>
      </div>
      <!--<div class="py-3 lg:col-span-3 lg:-mr-44">-->
      <!--  <Picture-->
      <!--    src={heroImage}-->
      <!--    alt="Deployments made easy"-->
      <!--    formats={["avif", "webp"]}-->
      <!--    sizes="(max-width: 1024px) 100vw, 50vw"-->
      <!--    widths={[240, 540, 720, heroImage.width]}-->
      <!--    loading="eager"-->
      <!--    fetchpriority="high"-->
      <!--  />-->
      <!--</div>-->
    </main>
  </Container>
</div>
