---
import Container from "./container.astro";
import Sectionhead from "./sectionhead.astro";
import { ArrowIcon } from "./ui/icons";

const faq = [
  {
    question: "Is there a free trial available for Gitmoxi?",
    answer:`
    <p class="text-neutral-600">Yes, Gitmoxi offers a free tier that you can easily run on your laptop or on a ECS/EKS cluster. To get started, simply follow the steps in our <a href="/docs/getting_started" class="text-blue-600 hover:underline">Getting Started Guide</a>.</p>
    `
  },
  {
    question: "What is the pricing model for Gitmoxi?",
    answer:`
    <p class="text-neutral-600">Gitmoxi is priced per installation. Each installation allows access to unlimited users and deployments within the specific AWS account associated with the installation. For deploying to multiple AWS accounts, we offer custom pricing options to simplify scaling across environments. <a href="/contact" class="text-blue-600 hover:underline">Contact us</a> to learn more.</p>
    `,
  },
  {
    question: "Does Gitmoxi offer the option to extend support?",
    answer:`
    <p class="text-neutral-600">Yes, you can extend support for up to two additional years for your purchased version of Gitmoxi. The extension of support costs $3,000 per-year per-installation.</p>
    <p class="text-neutral-600 mt-3">Extended support includes access to all associated minor updates (i.e., “.x.x” releases), allowing you to benefit from ongoing improvements and maintenance specific to your version.</p>
    `,
  },
];
---

<Container>
  <Sectionhead>
    <Fragment slot="title">Pricing FAQs</Fragment>
    <Fragment slot="desc"></Fragment>
  </Sectionhead>

  <div class="grid divide-y divide-neutral-200 max-w-4xl mx-auto mt-8 mb-16">
    {
      faq.map((item) => (
        <div class="py-5">
          <details class="group">
            <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
              <span> {item.question}</span>
              <span class="transition group-open:rotate-180">
                <ArrowIcon />
              </span>
            </summary>
            <p class="text-neutral-600 mt-3 group-open:animate-fadeIn" set:html={item.answer}/>
          </details>
        </div>
      ))
    }
  </div>
</Container>
