---
import Container from "@components/container.astro";
import Review from "@components/review.astro";

const testimonials = [
  {
    name: "John D.",
    title: "DevOps Engineer",
    image: "https://images.unsplash.com/photo-1624298357597-fd92dfbec01d?w=640",
    text: "With Gitmoxi, our deployment process has transformed completely. The intuitive dashboard makes tracking deployment statuses effortless, and the versioning feature ensures we never lose track of our artifact changes. It's a game-changer for our team!",
  },
  {
    name: "Sarah T.",
    title: "Software Architect",
    image: "https://images.unsplash.com/photo-1607746882042-944635dfe10e?w=640",
    text: "Deploying applications has never been easier! Gitmoxi's support for various deployment strategies like Canary and Blue/Green gives us the flexibility we need. Plus, managing both ECS and Lambda from a single platform streamlines our workflow significantly.",
  },
  {
    name: "David R.",
    title: "CTO",
    image: "https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?w=640",
    text: "Gitmoxi has empowered us with transparent insights into our deployment process. The detailed error logs and instant rollback capabilities have drastically reduced our resolution times, allowing us to maintain high availability and confidence in our deployments.",
  },
  {
    name: "Emily K.",
    title: "Product Manager",
    image: "https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?w=640",
    text: "The integration with our CI/CD pipelines and GitOps workflows is seamless! Gitmoxi’s approach to deployment management not only simplifies the process but also gives us a robust source of truth with Git. Highly recommend!",
  },
  {
    name: "Mark S.",
    title: "Systems Administrator",
    image: "https://images.unsplash.com/photo-1601455763557-db1bea8a9a5a?w=640",
    text: "Gitmoxi has supercharged our deployment capabilities! We can now handle multi-region deployments with ease, and the ability to roll back instantly in case of issues provides peace of mind. It’s the perfect tool for teams looking to optimize their deployment strategies.",
  }
];
---

<Container>
  <div class="mt-12">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center text-font-primary">
      Client <span class="text-teal-600">Testimonials</span>
    </h2>
    <!--<p class="text-lg mt-4 text-slate-600 text-center">-->
    <!--Gitmoxi in Production-->
    <!--</p>-->
  </div>
</Container>

<div class="mt-10 relative overflow-x-clip">
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-teal-50 right-1/3 -top-10">
  </div>
  <div
    class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-teal-50 right-1/3 translate-x-2/3 top-10">
  </div>
  <div class="relative md:flex gap-5 overflow-hidden py-5 group">
    <div
      class="md:motion-safe:animate-marquee w-auto py-5 overflow-x-auto flex flex-nowrap min-w-full shrink-0 items-stretch gap-10 snap-x snap-mandatory px-5">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
    <!--  ↓↓ Shadow DOM to make the animation smooth (clone) ↓↓ -->
    <div
      class="md:motion-safe:animate-marquee hidden md:motion-reduce:hidden md:flex min-w-full shrink-0 items-center gap-10">
      {testimonials.map((item) => <Review {...item} />)}
    </div>
  </div>
</div>
