---
import Layout from "./Layout.astro";
import Cta from "../components/cta.astro";
const { frontmatter, headings } = Astro.props;
import CopyCodeButton from "@components/ui/copycodebutton.jsx";
import DownloadForm from '../components/donwloadform.astro';
---

<Layout title={frontmatter.title}>
  <CopyCodeButton client:load />
  <div class="w-full" >
    <div class="min-w-screen-xl flex flex-col lg:flex-row gap-5 mt-8 pb-16">
      <!-- Section 1 on the left -->
      <div class="lg:w-1/6 lg:sticky lg:top-20 self-start relative pl-8 mr-5">
        <h2 class="text-xl font-medium mb-4">Navigation Pane</h2>
        <div class="mb-2">
          <a href="/docs/overview" class="underline">Overview</a>
        </div>
        <div class="mb-2">
          <a href="/docs/getting_started" class="underline">Getting Started</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/ecs_fg_install" class="underline">Install on ECS Fargate</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/eks_install" class="underline">Install on EKS</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/repo_setup" class="underline">Repo Setup</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/getting_started_ecs" class="underline">Testing ECS</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/getting_started_k8s" class="underline">Testing EKS</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/getting_started_lambda" class="underline">Testing Lambda</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/uninstall" class="underline">Uninstall Gitmoxi</a>
        </div>
        <div class="mb-2">
          <a href="/docs/core_concepts" class="underline">Core Concepts</a>
        </div>
        <div class="mb-2">
          <a href="/docs/gm_for_ecs" class="underline">Gitmoxi for ECS</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/ecs_deployment_definition" class="underline">ECS Deployment Definition</a>
        </div>
        <div class="mb-2">
          <a href="/docs/gm_for_lambda" class="underline">Gitmoxi for Lambda</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/lambda_deployment_definition" class="underline">Lambda Deployment Definition</a>
        </div>
        <div class="mb-2 ml-4">
          <a href="/docs/lambda_event_source_mapping" class="underline">Lambda Event Source Mapping</a>
        </div>
        <div class="mb-2">
          <a href="/docs/input_files" class="underline">Input Parameterization</a>
        </div>
        <div class="mb-2">
          <a href="/docs/cli_reference" class="underline">CLI Reference</a>
        </div>
      </div>

      <!-- Section 2 in the center -->
      <div class="max-w-full lg:w-4/6  prose mx-auto ml-5 mr-5">
        <slot />
      </div>

      <!-- Section 3 on the right -->
      <div class="w-full lg:w-1/6 lg:sticky lg:top-20 self-start pl-5 mr-5 min-h-screen lg:block hidden">
        <h2 class="text-xl font-medium mb-4">Table of Contents</h2>
        <ul>
          {headings
              .filter((heading) => heading.depth > 1)
              .map((heading) => (
                  <li class={`depth-${heading.depth} mb-2 ml-2`}>
                    <a href={`#${heading.slug}`} class="underline">
                      {heading.text}
                    </a>
                  </li>
              ))}
        </ul>
      </div>
    </div>
  </div>
  <Cta />
</Layout>

<!-- Modal Component -->
<div id="downloadModal" client:load>
  <div class="modal-content">
    <DownloadForm />
    <span class="close-modal">&times;</span>
  </div>
</div>

  <style>
  #downloadModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    max-width: 100%;
  }

  #downloadModal .modal-content {
    background-color: white;
    border-radius: 8px;
    width: auto;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    #downloadModal .modal-content {
      width: 90%;
    }
  }

  .close-modal {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
  }
</style>